<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SmartBusSystem.mapper.BusMapper">
    <resultMap id="BusResult" type="SmartBusSystem.pojo.Bus">
        <id column="LicenseNumber" property="licenseNumber"/>
        <result column="Status" property="status"/>
        <result column="RID" property="RID"/>
    </resultMap>
    <insert id="InsertBus">
        INSERT INTO `bus`
        VALUES (#{licenseNumber}, #{status}, #{RID});
    </insert>
    <update id="UpdateBusStatus">
        UPDATE `bus`
        SET Status=#{status}
        WHERE LicenseNumber = #{licenseNumber};
    </update>
    <delete id="DeleteBus">
        DELETE
        FROM `bus`
        WHERE LicenseNumber = #{licenseNumber};
    </delete>
    <select id="SelectAll" resultMap="BusResult">
        SELECT *
        FROM `bus`
        ORDER BY LicenseNumber;
    </select>
    <select id="SelectByLicenseNumber" resultMap="BusResult">
        SELECT *
        FROM `bus`
        WHERE LicenseNumber = #{licenseNumber};
    </select>
    <select id="SelectBusAvailable" resultMap="BusResult">
        SELECT *
        FROM `bus`
        WHERE LicenseNumber NOT IN
        (SELECT LicenseNumber
        FROM `schedule`
        WHERE
        <if test="time!=null">Time = #{time}</if>)
    </select>
</mapper>