<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SmartBusSystem.mapper.ScheduleMapper">
    <resultMap id="ScheduleResult" type="SmartBusSystem.pojo.Schedule">
        <id column="RID" property="RID"/>
        <id column="DID" property="DID"/>
        <id column="LicenseNumber" property="licenseNumber"/>
        <result column="Time" property="time"/>
    </resultMap>
    <insert id="InsertSchedule">
        INSERT INTO `schedule`
        VALUES (RID = #{RID}, DID = #{DID}, LicenseNumber = #{licenseNumber}, Time = #{time});
    </insert>
    <select id="SelectById" resultMap="ScheduleResult">
        SELECT * FROM `schedule`
        <where>
            <if test="RID!=null">RID=#{RID}</if>
            <if test="DID!=null">AND DID=#{DID}</if>
            <if test="LicenseNumber!=null">AND LicenseNumber=#{licenseNumber};</if>
        </where>
    </select>
</mapper>