<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SmartBusSystem.mapper.ScheduleMapper">
    <resultMap id="ScheduleResult" type="SmartBusSystem.pojo.Schedule">
        <id column="Time" property="time"/>
        <id column="DID" property="DID"/>
        <result column="LicenseNumber" property="licenseNumber"/>
    </resultMap>
    <insert id="InsertSchedule">
        INSERT INTO `schedule`
        VALUES (DID = #{DID}, Time = #{time}, LicenseNumber = #{licenseNumber});
    </insert>
    <select id="SelectById" resultMap="ScheduleResult">
        SELECT * FROM `schedule`
        <where>
            <if test="Time!=null">Time=#{time}</if>
            <if test="DID!=null">AND DID=#{DID};</if>
        </where>
    </select>
    <select id="SelectByDriverID" resultMap="ScheduleResult">
        SELECT *
        FROM `schedule`
        WHERE DID = #{DID};
    </select>
</mapper>