<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SmartBusSystem.mapper.UserMapper">
    <resultMap id="UserResult" type="SmartBusSystem.pojo.User">
        <id column="UID" property="ID"/>
        <result column="Password" property="password"/>
        <result column="UName" property="name"/>
        <result column="Aptitude" property="aptitude"/>
        <result column="PhoneNum" property="phoneNum"/>
    </resultMap>
    <insert id="InsertUser">
        INSERT INTO user
        VALUES (#{ID}, #{password},
        <if test="name==null">'注册用户',</if>
        <if test="name!=null">#{name},</if>#{aptitude}, #{phoneNum});
    </insert>
    <select id="SelectAll" resultType="SmartBusSystem.pojo.User">
        SELECT *
        FROM user;
    </select>
    <select id="SelectById" resultType="SmartBusSystem.pojo.User">
        SELECT *
        FROM user
        WHERE UID = #{ID};
    </select>
    <select id="SelectByAptitude" resultType="SmartBusSystem.pojo.User">
        SELECT *
        FROM user
        WHERE Aptitude = #{aptitude};
    </select>
</mapper>