<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%blue(%d{HH:mm:ss}) [%5level] %cyan([%thread]) %boldGreen(%logger{10}) - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="Console"/>
    </root>

</configuration>